<h1><%= @zoo.name %></h1>

<%= @zoo.location %><br>

<p>List of animals:<br>
<% @zoo.animals.each do |animal|%>
<%= animal.name %>
<% end %><br></p><br>

<a href="<%=@zoo.id%>/edit">Edit</a><br>

<%= link_to('Delete', @zoo, :method => :delete) %>
